<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
	</head>
	<body>
		<h1>Liste des events</h1>
		<table border="1">
			<tr>

				<th>nom</th>
				<th>Description</th>
				<th>Date</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
			{% for t in event %}
				<tr>
					<td>{{ t.name }}</td>
					<td>{{ t.description }}</td>
					<td><img src="{{ asset('img/') ~ t.image }}" alt="" style="width: 50px !important;height: 50px !important"></td>

					<td>
						<a href="{{ path('delete-event',{'id':t.id}) }}">Delete</a>
					</td>
					<td>
						<a href="{{ path('update',{'id':t.id}) }}">Update</a>
					</td>
					<td>
						<a href="{{ path('participate',{'id':t.id}) }}">Participer</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
