<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<h1>Liste de Menu</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    {% for u in user %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.description }}</td>
           <td><img src="{{ asset('img/') ~ u.image }}"
                    alt="" style= "width: 50px !important;height: 50px !important" ></td>
            <td><a href="{{ path('d',{'id':u.id}) }}">Delete</a></td>
            <td><a href="{{ path('update',{'id':u.id}) }}">Update</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>