{% extends 'base.html.twig' %}

{% block title %}
	KnowMe
{% endblock %}


{% block body %}
		<h1>Liste de Menu</h1>
		<table border="1">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Image</th>
				<th>Etat</th>
				
			</tr>
			{% for u in menu %}
				<tr>
					<td>{{ u.name }}</td>
					<td>{{ u.description }}</td>
					<td><img src="/images/{{u.img}}" alt="" style="width: 50px !important;height: 50px !important">
                    </td>
					<td>
						{% if u.isExpired%}
							<div style="color:red;font-size:20px">Expiré</div>
						{% endif %}
						{% if not u.isExpired%}
							<div style="color:green;font-size:20px">Valide</div>
						{% endif %}
					</td>
					<td>
						<a href="{{ path('deleteM',{'id':u.id}) }}" ><div style="color:black">Delete</div></a>
					</td>
					<td>
						<a href="{{ path('updateM',{'id':u.id}) }}"><div style="color:black"> Update</div></a>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endblock %}

