{% extends 'base.html.twig' %}

{% block title %}
	KnowMe
{% endblock %}

{% block body %}



<h1>Update menu</h1>
	<div class="modal-body">
		<form method="POST" action="#" enctype="multipart/form-data">
			{{ form_start(update_form)}}
			<div class="form-group">
				{{ form_widget(update_form.name,{'attr':{'placeholder':'nom','class':'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(update_form.description,{'attr':{'placeholder':'description','class':'form-control'}}) }}
			</div>
			<div class="form-group">
				{{ form_widget(update_form.img,{'attr':{'placeholder':'uploader image'}}) }}
			</div>

			<div class="text-center mt-3">
				<input value="modifier" type="submit" class="submit-btn3"/>
			</div>
			{{ form_end(update_form)}}


		</form>
	</div>

{% endblock %}
